<footer style="min-height: 300px; width: 100%; background-color: rgb(245, 244, 244); padding-top: 3vw;" id="about">
  <div class="dc">
    <div>
      <h1 style="font-size: 3rem; font-weight: 700; padding: 0 3vw;" class="text-center">Service Center Automation</h1>
      <div class="dc mt-4" style="gap: 2vw;">
        <a><i style="color: black; " class="fab fa-facebook-f"></i></a>
        <a><i style="color: black;" class="fab fa-youtube"></i></a>
        <a><i style="color: black;" class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div style="width: 600px;">
      <h1 style="font-size: 2.5rem; font-weight: 800;">About</h1>
      <p>
        Service Center Automation Established in 2024, Portal is your trusted destination for premium car and bike servicing
        solutions in Lucknow. With a commitment to excellence and customer satisfaction, we offer a comprehensive
        range of services tailored to meet your needs. Visit us today and experience the difference firsthand.</p>
    </div>
    <div style="padding: 0 3vw; margin-right: 3vw;">
      <style>
        a{
          text-decoration: none !important; 
        }
      </style>
      <h3 style="font-size: 2rem; font-weight: 700;">Quick Links</h3>
      <a href="/" class="ms-2 mt-3 text-dark"><i class="fas fa-home me-2 "></i>Home</a><br>
      <a href="/companies/" class="ms-2 text-dark"><i class="far fa-address-book me-2 "></i>Book Now</a><br>
      <a href="/feedbacks/" class="ms-2 text-dark" ><i class="fas fa-comment me-2 "></i>Feedback</a><br>
    </div>
  </div>
  <div style="height: 50px; background-color: rgb(236, 236, 236); margin-top: 2vw;">
    <p class="text-center py-3 text-white oswald" style="font-size: larger; font-weight: 700; background-color: rgb(255, 0, 60);">Copyright &copy; Me : Brijesh Sharma & Savita Gupta</p>
  </div>
</footer>