{%extends 'html/main.html'%}
{%block content%}
<style>
    body{
        background-image: url(../../static/images/2.jpg);
    }
</style>
<div class="dc my-5">
    <div class="frm">
        <h2 class="text-center mb-4">Register</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="" required>
                <label for="name">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="" required>
                <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="" required>
                <label for="phone">Phone</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="" required>
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
                <textarea style="height: 100px;" class="form-control" id="address" name="address" rows="3"
                    placeholder="" required></textarea>
                <label for="address">Address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="file" class="form-control" id="pic" name="pic">
                <label for="pic">Profile Picture</label>
            </div>
            <button type="submit" class="btna mt-4 d-block mx-auto w-75">Register</button>
        </form>
    </div>
</div>

{%endblock%}