{%extends 'html/main.html'%}
{%block content%}
{%include 'common/message.html'%}


<div class="dc my-5" style="padding: 0 2vw;">
    {%for b in bookings%}
<div class="cards" style="width: 400px;">
    
    <h3>Booking ID : {{b.id}}</h3>
    <div class="imdiv">
        
        <img src="{{b.vehicle_img.url}}" alt=""s>
    </div>
    <h3>Customer: {{b.user.name}}</h3>
    <h4>Phone: {{b.user.phone}}</h4>
    <p class="mb-2">Address: {{b.user.address}}</p>
    <h4>Vehicle Company: {{b.vehicle_company}}</h4>
    <h4>Vehicle Name: {{b.vehicle_name}}</h4>
    <h4>Vehicle Number: {{b.vehicle_number}}</h4>
        <div class="dc mt-4" style="justify-content: space-between; padding: 0 !important;">
            <div style="width: 45%;">
                <img style="height: 150px; width: 150px;" src="{{b.company.pic.url}}" alt="">
            </div>
            <div style="width: 55%; padding: 0;">
                <h3>Company: {{b.company.name}}</h3>
        <h4>Phone: {{b.company.phone}}</h4>
        <h4>Vehicle: {{b.company.type_of_vehicle}}</h4>
        <p class="text-muted">Booking Date: {{b.created}}</p>
            </div>
        </div>
      </div>
        {%endfor%}

</div>

{%endblock%}