{%extends 'html/main.html'%}
{%block content%}


<h1 class="text-center mt-5" style="font-size: 3rem; font-weight: 800;">Book a Service for Your Vehicle Today</h1>
<div class="dc" style="padding: 0 2vw;">
    {%for b in company%}
    <div class="cards" style="width: 400px;">
        <div class="imdiv">
            <img src="{{b.pic.url}}" alt="">

        </div>
        <h3 style="font-size: 2rem;" class="text-center my-3">{{b.name}}</h3>
        <h4>Phone: {{b.phone}}</h4>
        <h4>Email: {{b.email}}</h4>
        <h4>Location: {{b.location}}</h4>
        <h4>Rating: <span style="color: rgb(255, 0, 43);">{{b.rating}}</span></h4>
        <h4>Type: {{b.type_of_vehicle}} Service</h4>
        <p class="mb-3 text-muted">About: {{b.description}}</p>
        <button class="btna w-100 mt-3" onclick="window.location.href='{%url 'booking' b.phone%}';">Book
            Service</button>

    </div>
    {%endfor%}
</div>

{%endblock%}