{%extends 'html/main.html'%}
{%block content%}

<h2 class="text-center my-5" style="font-size: 3rem; font-weight: 700   ;">Feedbacks</h2>
<div class="dc mb-5">
    {%for f in feedback%}
<div class="cards" style=" width: 300px; padding: 1vw;">
    
    <img class="d-block mx-auto" src="{{f.booking.user.pic.url}}" style="border-radius: 50%; height: 70px; width: 70px;" alt="">


    <h3 class="mt-3 text-center">{{f.booking.user.name}}</h3>
    <h4 class="mt-3">Booking ID: {{f.booking.id}}</h4>
    <h4 class="mt-3">Company: {{f.booking.company.name}}</h4>
    <h4 class="mt-3">Vehicle: {{f.booking.company.type_of_vehicle}}</h4>
    <h4 class="mt-3">Ratings: <span style="color: rgb(255, 0, 43);">{{f.rating}}</span></h4>
    <h4 class="mt-3">Remarks: {{f.remark}}</h4>
</div>
    {%endfor%}

</div>

{%endblock%}